<app-toolbar [data]="backButton" ></app-toolbar>
<ion-content>
  <div class="container">
    <img src="../../../assets/img/profile.jpg" class="img_profile">
    <p class="name">{{dataUser?.name}} {{dataUser?.lastname}}</p>
  </div>
  <div class="inputs-container">
    <div class="input-name">
      <p class="title">Name</p>
      <input type="text" [(ngModel)]="dataUser.name" [placeholder]="dataUser.name" class="placeholder">
    </div>
    <div class="input-lastname">
      <p class="title">Lastname</p>
      <input type="text" [(ngModel)]="dataUser.lastname" [placeholder]="dataUser.lastname" class="placeholder">
    </div>
    <div class="input-mail">
      <p class="title">Mail</p>
      <input type="text" [(ngModel)]="dataUser.mail" [placeholder]="dataUser.mail" class="placeholder">
    </div>
    <div class="input-phone">
      <p class="title">Phone</p>
      <input type="string" [(ngModel)]="dataUser.phone" [placeholder]="dataUser.phone" class="placeholder">
    </div>
    <!-- <div class="input-oldpass">
      <p class="title">Old Password</p>
      <input type="password" placeholder="*****" [(ngModel)]="oldPass" class="placeholder">
    </div> -->
    <div class="input-newpass">
      <p class="title" >New Password</p>
      <input type="text" placeholder="*****" class="placeholder">
    </div>
  </div>
  <button class="submit-btn" type="submit" (click)="guardarDatos()">Actualizar</button>
</ion-content>