.header {
    position: absolute;
    height: 37%;
    width: 100%;
    background: var(--ion-color-secondary);
    box-shadow: 0px 3px 5px var(--ion-color-secondary-shade);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    .edit {
        position: absolute;
        color: var(--ion-color-primary);
        right: 5%;
        top: 5%;
        height: 9%;
        width: 7%;
    }

    .settings {
        position: absolute;
        color: var(--ion-color-primary);
        left: 5%;
        top: 5%;
        height: 9%;
        width: 7%;
    }

    .profile {
        position: absolute;
        width: 37%;
        height: 47%;
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        background: none;
        border: 1.7px solid var(--ion-color-primary);
        border-radius: 100%;

        .img-profile {
            position: absolute;
            width: 80%;
            border-radius: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 7%;
            box-shadow: 0px 2px 6px var(--ion-color-primary);
        }
    }

    .namenshare {
        position: absolute;
        width: 100%;
        height: 25%;
        top: 65%;
        // background: lightcoral;

        .name {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            font-weight: 500;
            color: var(--ion-color-primary);
            text-shadow: 0px 3px 5px var(--ion-color-secondary-shade);
        }

        .share {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 55%;
            width: 40%;
            height: 46%;
            border-radius: 10px;
            background: var(--ion-color-primary);
            font-weight: 500;
            box-shadow: 0px 3px 5px var(--ion-color-secondary-shade);
        }
    }
}

.content {
    position: absolute;
    top: 37%;
    width: 100%;
    height: 63%;

    .icon-rotate {
        position: absolute;
    left: 49%;
    transform: translateX(-50%);
    top: 5%;
    height: 35%;
    width: 35%;
    rotate: -35deg;
    color: var(--ion-color-secondary);
    }

    .icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 14%;
        height: 35%;
        width: 35%;
        // rotate: -35deg;
        color: var(--ion-color-secondary);
    }

    .title {
        position: absolute;
        bottom: 18%;
        left: 50%;
        transform: translateX(-50%);
        width: 67%;
        font-weight: 600;
        color: var(--ion-color-secondary);
        text-shadow: 0px 2px 2px var(--ion-color-secondary-shade);
    }

    .button-flight {
        position: absolute;
        width: 28%;
        height: 20%;
        // background: red;
        top: 7%;
        left: 14%;
        border-radius: 15px;
        border: 0.7px solid var(--ion-color-secondary);
        box-shadow: 0px 3px 5px black;
    }

    .button-points {
        position: absolute;
        width: 28%;
        height: 20%;
        // background: red;
        top: 7%;
        right: 14%;
        border-radius: 15px;
        border: 0.7px solid var(--ion-color-secondary);
        box-shadow: 0px 3px 5px black;
    }

    .button-maps {
        position: absolute;
        width: 28%;
        height: 20%;
        // background: red;
        top: 35%;
        left: 14%;
        border-radius: 15px;
        border: 0.7px solid var(--ion-color-secondary);
        box-shadow: 0px 3px 5px black;


        .maps {
            position: absolute;
            bottom: 18%;
            left: 50%;
            transform: translateX(-50%);
            width: 37%;
            font-weight: 600;
            color: var(--ion-color-secondary);
            text-shadow: 0px 2px 2px var(--ion-color-secondary-shade);
        }
    }

    .button-entreteinment {
        position: absolute;
        width: 28%;
        height: 20%;
        // background: red;
        top: 35%;
        right: 14%;
        border-radius: 15px;
        border: 0.7px solid var(--ion-color-secondary);
        box-shadow: 0px 3px 5px black;

        .entretainments {
            position: absolute;
            bottom: 22%;
            left: 52%;
            transform: translateX(-50%);
            width: 83%;
            font-size: 13px;
            font-weight: 600;
            color: var(--ion-color-secondary);
            text-shadow: 0px 2px 2px var(--ion-color-secondary-shade);
        }
    }

    .button-contact {
        position: absolute;
        width: 28%;
        height: 20%;
        // background: red;
        top: 63%;
        left: 14%;
        border-radius: 15px;
        border: 0.7px solid var(--ion-color-secondary);
        box-shadow: 0px 3px 5px black;

        .contact {
            position: absolute;
            bottom: 18%;
            left: 50%;
            transform: translateX(-50%);
            width: 53%;
            font-weight: 600;
            color: var(--ion-color-secondary);
            text-shadow: 0px 2px 2px var(--ion-color-secondary-shade);
        }
    }

    .button-questions {
        position: absolute;
        width: 28%;
        height: 20%;
        // background: red;
        top: 63%;
        right: 14%;
        border-radius: 15px;
        border: 0.7px solid var(--ion-color-secondary);
        box-shadow: 0px 3px 5px black;

        .fq {
            position: absolute;
            bottom: 14%;
            left: 50%;
            transform: translateX(-50%);
            width: 72%;
            font-size: 14px;
            font-weight: 600;
            color: var(--ion-color-secondary);
            text-shadow: 0px 2px 2px var(--ion-color-secondary-shade);
            text-align: center;
        }
    }
}