<div class="header">
  <ion-icon name="create-outline" class="edit" style="color: var(--ion-color-primary);"></ion-icon>
  <ion-icon name="settings-outline" class="settings" style="color: var(--ion-color-primary);"></ion-icon>
  <div class="profile">
    <img class="img-profile" src="../../assets/img/profile.jpg" alt="">
  </div>
  <div class="namenshare">
    <p class="name">Jessica Pearson</p>
    <button type="submit" class="share">Share Account</button>
  </div>
</div>
<div class="content">
  <div class="button-flight" (click)="GoTo('flight')">
    <ion-icon class="icon-rotate" name="airplane-outline"></ion-icon>
    <p class="title">My Flight</p>
  </div>
  <div class="button-points" (click)="GoTo('skywards')">
    <ion-icon class="icon" name="logo-usd"></ion-icon>
    <p class="title">My Points</p>
  </div>
  <div class="button-maps" (click)="GoTo('maps')">
    <ion-icon class="icon" name="location-outline"></ion-icon>
    <p class="maps">Maps</p>
  </div>
  <div class="button-entreteinment" (click)="GoTo('entretainments')">
    <ion-icon class="icon" name="game-controller-outline"></ion-icon>
    <p class="entretainments">Entretainments</p>
  </div>
  <div class="button-contact" (click)="GoTo('contact')">
    <ion-icon class="icon" name="person-circle-outline"></ion-icon>
    <p class="contact">Contact</p>
  </div>
  <div class="button-questions" (click)="GoTo('questions')">
    <ion-icon class="icon" name="help-circle-outline"></ion-icon>
    <p class="fq">Frequently Questions</p>
  </div>
</div>