<app-toolbar [data]="backButton"></app-toolbar>
<div class="header">
  <h1 class="start">ARG</h1>
  <ion-icon name="airplane" class="icon"></ion-icon>
  <h1 class="end">USA</h1>
</div>
<div class="ticket">
  <div class="top">
    <img src="../../../assets/img/emirates_logo.png" alt="" class="logo">
    <p class="price">Total Price</p>
    <h3 class="nro">$170.00</h3>
    <div class="from">
      <p class="title">From:</p>
      <p class="place">Jorge Newbery Airport</p>
    </div>
    <div class="to">
      <p class="title">To:</p>
      <p class="place">JFK Airport</p>
    </div>
    <hr class="middle">
    <div class="flight-date">
      <p class="title">Flight Date</p>
      <p class="value">May 19</p>
    </div>
    <div class="gate">
      <p class="title">Gate</p>
      <p class="value">B2</p>
    </div>
    <div class="flight_nr">
      <p class="title">Flight No.</p>
      <p class="value">KB76</p>
    </div>
    <div class="time">
      <p class="title">Boarding Time</p>
      <p class="value">8:35 AM</p>
    </div>
    <div class="seat">
      <p class="title">Seat</p>
      <p class="value">19A</p>
    </div>
    <div class="class">
      <p class="title">Class</p>
      <p class="value">Economy</p>
    </div>
  </div>
  <p class="division">-------------------------------</p>
  <div class="bottom">
    <h2 class="title">BOARDING PASS</h2>
    <div class="qrcode">
      <img src="../../../assets/img/barcode.jpg" alt="">
    </div>
  </div>
</div>
