<app-toolbar [data]="backButton"></app-toolbar>

<div class="header_container">
  <img src="../../../assets/img/logo_cortado_azul.png" class="logo_fondo">
  <p class="title-es">Emirates Skywards</p>
  <!-- <img src="../../../assets/img/emirates1.jpg" alt=""> -->
  <div class="header-row">
    <p class="disp">My Points</p>
    <h6 class="points">750 pts.</h6>

    <p class="movements" >Movements <span class="material-symbols-outlined">
      chevron_right
      </span></p>
      <div class="hr"></div>
      <div class="transference">
        <span class="material-symbols-outlined">
          autorenew
          </span>
      </div>
      <div class="redeem">
        <span class="material-symbols-outlined">
          redeem
          </span>
      </div>
      <div class="help">
        <span class="material-symbols-outlined">
          question_mark
          </span>
      </div>
      <div class="titles_services">
        <p class="title_transfer">Transfer</p>
        <p class="title_redeem">Redeem</p>
        <p class="title_help">Help</p>
      </div>
  </div>
</div>

<div class="adverticing"></div>

<div class="adverticing-v2">
  <div class="car-reserve"></div>
  <div class="events-reserve"></div>
  <div class="parking-reserve"></div>
  <div class="rest-reserve"></div>
</div>
<!-- Algo como reserva tu hotel con millas! Poneeeele... -->